<div class="container">
    <div class="page-header">
        <h1>Panels with nav tabs.</h1>
    </div>
            <div class="panel with-nav-tabs panel-default">
                <div class="panel-heading">
                        <ul class="nav nav-tabs">
                            <li>
                              <a data-toggle="tab" [routerLink]="['Component1']">
                                component-1
                              </a>
                            </li>
                            <li>
                              <a data-toggle="tab"  [routerLink]="['Books']">
                                books
                              </a>
                            </li>
                            <li>
                              <a data-toggle="tab"  [routerLink]="['Component3']">
                                component-3
                              </a>
                            </li>
                        </ul>
                </div>
                <div class="panel-body">
                    <div class="tab-content">
                        <div class="tab-pane fade in active" id="tab1default">
                          <router-outlet></router-outlet>
                        </div>
                        <div class="tab-pane fade" id="tab2default">Default 2</div>
                        <div class="tab-pane fade" id="tab3default">Default 3</div>
                        <div class="tab-pane fade" id="tab4default">Default 4</div>
                        <div class="tab-pane fade" id="tab5default">Default 5</div>
                    </div>
                </div>
	          </div>
</div>
